:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  color-scheme: light dark;
  background-color: #eaeaeaff !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, #buttonAddSpati {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

#buttonAddSpati:hover {
  background: rgb(3, 34, 75, 0.8);
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.map-container {
  margin: 1% auto;
  height: 75vh;
  width: 90vw;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.marker {
  background-image: url("../src/assets/spati.png");
  background-size: cover;
  width: 22px;
  height: 30px;
  cursor: pointer;
}

.marker2 {
  background-image: url("../src/assets/spaticlicked.png") !important;
  background-size: cover;
  width: 30px;
  height: 40px;
  cursor: pointer;
}

.mapboxgl-popup-close-button {
  color: rgb(235, 82, 82);
  outline: none;
}

.mapboxgl-popup-close-button:hover {
  outline: none;
}

footer {
  background-color:  #ccc;
  display: flex;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin-top:20px;
  
}

footer p {
  text-align: center;
  margin: 3px;
  color: grey;
}

footer a {
  color: grey;
}

#addForm {
  margin: 0 auto;
  width: 60%;
}

#addForm .addSpatiInput {
  width: 100%;
    border: 0px;
    color: rgba(0, 0, 0, 0.75);
    font: inherit;
    height: 36px;
    margin: 0px;
    overflow: hidden;
    padding: 0px 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-block: 1px;
    padding-inline: 2px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05),
      0 0 6px 1px rgba(0, 0, 0, 0.1),
      0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.addFormSession {
  margin-top: 20px;
  margin-bottom: 20px;
}

#buttonAddSpati {
  width: 100px;
    background-color: #03224B;
    color: white;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#addForm h1, #addForm h2, #addForm h3, .blue {
  color: #03224B;
  margin: 0;
}

.red {
  color: #FF0200;
  margin: 0;
}

#addForm h1 {
  margin-top: 30px;
}

#addForm h2,#addForm h3 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 20px;
}

#addForm {
  padding-top: 20px;
}

.addFormSession select {
  margin-left: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05),
      0 0 6px 1px rgba(0, 0, 0, 0.1),
      0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 0px;
    color: rgba(0, 0, 0, 0.75);
    font: inherit;
    height: 30px;
    padding: 0px 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-block: 1px;
    padding-inline: 2px;
}

.errorValidation {
  color: red;
  margin-left: 25px;
  font-style: italic;
}

.loading {
  margin-left: 25px;
  font-style: italic;
}

.red {
  color: red;
}

#backToTheSpati {
  cursor: pointer;
  margin-top: 70px;
}

#backToTheSpati a:hover, #searchSpati a:hover {
  opacity: 0.8;
}

#formSuccessSent {
  margin-top: 100px;
  text-align: center;
 height:80vh;
}

#searchSpati {
  margin-top:30px;
}

#searchSpati {
  margin-top:30px;
  cursor: pointer;
}